name: SauceDemoProyect

on:
  push:  
    branches: [master]

jobs: 
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.1
        
      - name: Setup Java Version
        uses: actions/setup-java@v5.1.0
        
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      
      - name: Run Our TestNG Test Suite
        run: mvn test -DsuiteXmlFile=testng.xml
